* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.div4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.div5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.perfil {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
   
}

.header2 {
    margin-bottom: 20px;
}

.h22 {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}

.p2 {
    font-size: 1em;
    color: #000000;
    margin-bottom: 20px;
}

.p3 {
    font-size: 1.2em;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.ul2 {
    list-style-type: none;
    margin-bottom: 20px;
}

.li2 {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.btn {
    padding: 15px 20px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.664);
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
    outline: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.864);
    color: #ffffff;
}

.btn3 {
    padding: 15px 205px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.664);
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
    outline: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn3:hover {
    background-color: rgba(0, 0, 0, 0.864);
    color: #ffffff;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

