/* Adicione aqui o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #515355;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.qr-code {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
